<h2>New message</h2>
<hr />
<form method="POST" action="/new">
	<label for="user">User</label><br />
	<input name="user" type="text" /><br />
	<label for="text">Message</label><br />
	<textarea name="text"></textarea><br /><br />
	<button type="submit">Submit</button>
</form>
